.store-item{
  min-height: 200px; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.2em;
  background-image: url('../../../../Assets/backgrounds/wood-grain-alt.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
  padding-top: 3em;
  padding-bottom: 3em;
}
.store-item .item-info{
  padding: 1em;
  margin: 0.5em;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Allura';
  color: white;
  font-weight: bolder;
  font-size: 30px;
  width: 100%;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 700px;
}
.store-item ol{
  display: flex;
  gap: 25px;
  flex-direction: column;
  width: 100%;
}
.store-item .store-item-home-img{
  max-width: 700px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}
.store-item-buttons{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 22px;
  font-family: 'Titillium Web';
  padding: 1em;
  border-radius: 5px;
  margin: 0.5em;
  color: white;
  background-color: rgba(0,0,0,0.8);
  /* if overflow-y is not hidden the complete dropdown will be shown
  before framer motion completes its animation */
  overflow-y: hidden;
}
.store-item-buttons .quantity-button{
  background-color: #5d1917;
  border-radius: 8px;
  color: white;
  border: 0px solid transparent;
  padding: 0.2em 0.4em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  font-size: 30px;
  width: 70px;
  height: 70px;
}
.store-item-buttons .quantity-button:focus{
  outline: none;
}
.store-item-buttons .add-to-basket{
  background-color: #5d1917;
  border-radius: 8px;
  color: white;
  border: 0px solid transparent;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em;
  font-family: 'Allura';
  font-weight: bolder;
  letter-spacing: 3px;
  gap: 20px;
}
.store-item-buttons .add-to-basket span{
  margin-top: 5px;
}
.store-item-buttons .add-to-basket img{
  max-width: 40px;
  flex-grow: 1;
}
.store-item-button-wrapper{
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  column-gap: 10px;
}
.store-item-button-wrapper span{
  text-wrap: wrap;
}
.store-item-button-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.alt-store-item{
  background-image: url('../../../../Assets/backgrounds/wood-grain.jpg');
}
.item-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}