.store-items-container,
.store-items-container ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 3;
}
.store-items-container .item-info ul{
  flex-direction: column;
}
.store-items-container .item-info li{
  align-self: flex-start;
}
.store-items-container .store-items-heading{
  width: 100%;
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.6), 0px 4px 6px rgba(0, 0, 0, 0.6);
  z-index: 4;
  padding-bottom: 1em;
}
.store-items-container ul li h2{
  color: beige;
}

@media screen and (width<=768px) {
  .store-items-container ul li h2{
    font-size: 22px;
  };
}
@media screen and (width>768px){
  .store-items-container ul li h2{
    font-size: 26px;
  }
}