.store-items-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #270e0c;
  position: relative;
  z-index: 3;
}
.store-items-container .store-items-heading{
  width: 100%;
}