.init-load {
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  font-family: 'Titillium Web';
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  gap: 10px;
  font-weight: 500;
  z-index: 97;
  top: 0;
  width: 100%;
}

.loading-content-wrapper {
  z-index: 100;
  height: max-content;
  background-color: rgba(27,7,7,0.95);
  color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 800px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  position: fixed;
  margin: 10px;
}
.loading-content-wrapper h3{
  text-align: center;
  font-family: 'Courgette';
  line-height: 1.5;
  color: white;
}

.loading-message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

.loading-content-wrapper h3{
  font-size: 1em;
}
/* Mobile */
@media screen and (width <= 767px) {
  .loading-content-wrapper {
    padding: 1.5em 1em 1.5em 1em;
  }
  .init-load p {
    font-size: 20px;
  }
  .init-load h1{
    font-size: 26px;
  }
  .init-load h1 span:nth-child(2){
    font-size: 23px;
  }
  .init-load .loading-notice{
    font-size: 20px;
  }
  .loading-message{
    width: 95%;
  }
}

/* Desktop */
@media screen and (width > 767px) {
  .loading-content-wrapper {
    padding: 2em;
  }
  .init-load p {
    font-size: 30px;
    padding: 0.5em; /* Adjusted padding for desktop */
  }
  .init-load h1 {
    font-size: 40px;
  }
  .init-load h1 span:nth-child(2) {
    font-size: 35px;
  }
  .init-load .loading-notice{
    font-size: 28px;
  }
}

.init-load-background {
  height: 100vh;
  width: 100%;
  position: fixed;
  object-fit: cover;
}
@media screen and (width>1300px) {
  .init-load-background{
    width: 100vw;
  }
}
.loading-content-wrapper:not(:first-child){
  color: beige;
};
.init-load p {
  padding: 0.5em;
  font-weight: 500;
  max-width: 700px;
}

.init-load p,
.init-load h1,
.loading-spinner {
  text-align: center;
  z-index: 100;
}

.init-load h1 span:nth-child(2) {
  font-family: 'Titillium Web';
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.init-load h1 {
  color: white;
  font-weight: bold;
  font-family: 'Courgette';
  white-space: wrap;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.init-load .loading-spinner {
  width: 100%;
  max-width: 60px;
  position: fixed;
  top: 25px;
  padding: 0.2em;
  left: 0;
  background-color: rgba(27,7,7,0.95);
  border-radius:0px 6px 6px 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}
.init-load p{
  color: white;
}
.init-load .loading-notice{
  padding: 0.2em;
  color: beige;
}
@media screen and (width>768px) {
  .init-load .loading-notice{
    max-width: 80%;
  }
}