.footer *{
  max-width: 600px;
  align-self: center;
}
.footer{
  width: 100%;
  text-align: center;
  color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1em;
  padding-bottom: 8em;
}
.footer .copyright{
  padding: 0.4em;
  text-align: center;
  font-size: 17px;
  font-family: 'Titillium Web';
  display: flex;
  flex-direction: column;
}
.footer .payment-methods{
  display: flex;
  justify-content: center;
  gap: 20px;
  width: max-content;
  align-self: center;
  padding: 1em;
}
.footer .payment-methods img{
  max-width: 50px;
  cursor: pointer;
}
.footer .support{
  padding: 1em;
  font-size: 17px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.footer .support ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer .support a{
  color: black;
}
.small-business{
  width: 250px;
}