.footer{
  align-self: center;
  height: max-content;
  position: relative;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
}
.footer-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.footer-content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
}
.footer-checkout-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-content-wrapper > *{
  max-width: 600px;
}
.footer .copyright{
  padding: 0.4em;
  text-align: center;
  font-size: 18px;
  font-family: 'Titillium Web';
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 2px solid black;
}
.footer .payment-methods{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-self: center;
  padding: 1em;
  list-style-type: none;
  flex-wrap: wrap;
}
.footer .payment-methods img{
  max-width: 50px;
  cursor: pointer;
}
.footer .payment-methods li{
  display: flex;
  width: 50px;
}
.footer aside{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.footer .footer-support{
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 17px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  border-top: 2px solid black;
  gap: 10px;
}
.footer .footer-support ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer .footer-support a{
  color: black;
}

.footer-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 2px solid black;
}

.small-business {
  max-width: 185px; /* Adjust the percentage as needed */
  width: 55%;
  flex-grow: 1;
}

.miny {
  max-width: 100px;
  max-height: 100px;
  align-self: center;
  width: 30%;
  flex-grow: 1;
}

#root .footer .cash-app-img{
  width: 30px;
  height: 30px;
}
.footer-checkout-info{
  padding: 1em;
}
.footer-checkout-info p{
  font-size: 18px;
  font-family: 'Titillium Web';
  font-weight: bold;
  text-wrap: nowrap;
}
.footer-checkout-info .stripe-footer-img{
  width: 50px;
}
.footer-checkout-info div{
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.footer-checkout-info .lock-img{
  width: 30px;
  margin-bottom: 3px;
}
.footer-support-notice{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.always-fresh{
  color: #4CAF50;
  font-size: 17px;
}
.footer-support-notice .always-fresh-leaf{
  width: 30px;
}
