.calendar-wrapper button{
  border: 0px solid transparent;
  border-radius: 8px;
  background-color: #5d1917;
  color: grey;
  min-width: 30px;
  min-height: 30px;
}
.react-calendar__navigation .react-calendar__navigation__arrow{
  min-width: 50px;
}
.react-calendar__navigation .react-calendar__navigation__label{
  padding: 1em;
  min-width: 60px;
}
.react-calendar__navigation .react-calendar__navigation__label span{
  font-size: 18px;
  font-family: 'Titillium Web';
}
.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button{
  visibility: hidden;
}
.calendar-wrapper .react-calendar__tile--active{
  background-color: #D3B683;
}
.calendar-wrapper button:not(:disabled){
  color: white;
}
.react-calendar__navigation{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: white;
  max-height: 80px;
}
.react-calendar__tile{
  height: 40px;
  width: 10px;
}
.react-calendar__navigation__arrow{
  font-size: 30px;
}
.react-calendar__navigation__label__labelText{
  color: white;
  font-size: 20px;
}
.calendar-wrapper{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.react-calendar{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.react-calendar abbr{
  font-size: 20px;
}
.react-calendar__month-view__days button{
  border-radius: 0px;
  border: 1px solid black;
}
.gift-options-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  width: 100%;
}
.gift-options-content input{
  width: 50px;
  height: 50px;
}
.gift-options-form{
  width: 100%;
}
.gift-options-form div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  font-family: 'Tittilium Web';
  width: 100%;
  gap: 10px;
}
.gift-options-form textarea{
  height: 200px;
  width: 100%;
  font-family: 'Titillium Web';
  font-size: 20px;
  overflow: scroll;
  border-radius: 5px;
  border: 1px solid var(--p-colorBackgroundDeemphasize10);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02);
  border: 1px solid black;
  padding: 0.5em;
}
.calendar-wrapper{
  padding: 2em;
}
.calendar-wrapper input{
  min-width: 150px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  align-self: center;
  min-height: 35px;
  color: black;
  border-radius: 4px;
  font-size: 15px;
}
.cart-shipping-note{
  padding-bottom: 1em;
  font-size: 15px;
}
.cart-summary .guest-heading{
  font-family: 'Courgette';
  font-size: 20px;
  padding-bottom: 1em;
  padding-top: 1em;
  text-wrap: wrap;
}
.basket-wrapper{
  padding-bottom: 1em;
  padding-top: 1em;
}
.basket-wrapper h3{
  padding-bottom: 0.7em;
}
.gift-wrapper{
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#pre-checkout .checkout-secured{
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 20px;
  gap: 10px;
  font-family: 'Titillium Web';
  align-items: center;
}
#pre-checkout .checkout-secured .lock-img{
  width: 25px;
  margin-bottom: 3px;
}
#pre-checkout .checkout-secured img{
  width: 50px;
}