.custom-orders{
  text-align: center;
  background-size: cover;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Titillium Web';
  background-color: #200b0b;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  position: relative;
  flex-direction: column;
}
#custom-orders-header{
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}
.custom-orders-info{
  font-size: 20px;
  border-bottom: 2px solid white;
  padding-bottom: 1em;
}
.custom-orders form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1.5em;
  border-radius: 5px;
  color: white;
  max-width: 700px;
}
.custom-orders .brendels{
  font-size: 28px;
}

:not(.custom-orders form) > .input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.custom-orders form .input-wrapper:first-child {
  display: flex;
}


.custom-orders form .input-wrapper input{
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  min-width: 40px;
}

.custom-orders .error-messages{
  color: red;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Titillium Web';
}
.custom-orders form .input-wrapper textarea{
  height: 200px;
  min-height: 50px;
  min-width: 50px;
  font-size: 17px;
  max-width: 100%;
  padding: 10px;
}

.custom-orders form .input-wrapper .text-box{
  width: 100%;
  font-family: 'Titillium Web';
}
.custom-orders form .input-wrapper label{
  font-size: 30px;
  font-weight: 600;
  font-family: 'Allura';
}
.custom-orders button{
  border: 0px solid transparent;
  color: white;
  width: 100%;
  padding: 1em 1.2em;
  background-color: rgb(93,25,23);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  font-family: 'Courgette';
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: bolder;
}
.custom-orders-email-sent{
  padding: 2em;
  border-radius: 5px;
  background-color: rgba(27,7,7,0.95);
  color: white;
  font-size: 35px;
  font-family: 'Courgette';
  max-width: 700px;
}
.custom-orders .input-wrapper label{
  font-size: 18px;
}
.offer-input-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-orders-checkbox-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  
}
#root .custom-orders label:first-child{
  font-family: 'Courgette';
  color: beige;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}