.cart-summary{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1em;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #270707;
  min-height: 60vh;
}
#pre-checkout{
  min-height: 100vh;
  color: white;
  padding-top: 2em;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.6), 0px 4px 6px rgba(0, 0, 0, 0.6);
  padding-bottom: 2em;
  position: relative;
  z-index: 2;
}
#pre-checkout .cart-summary-wrapper{
  background-color: rgb(39, 7, 7,0.95);
}

#pre-checkout h3{
  color: white;
}

.cart-summary-wrapper{
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 3px;
}
.cart-summary h3{
  font-size: 25px;
  font-family: 'Courgette';
  text-align: center;
  color: white;
  font-weight: bolder;
}

.cart-subtotal{
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.cart-summary .button-styled{
  border: 0px solid transparent;
  border-radius: 3px;
  background-color: #5d1917;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Allura';
  padding: 0.5em 1em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

.cart-subtotal{
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1em;
}
.cart-shipping-note{
}
@media screen and (width<600px) {
  .cart-subtotal{
    align-self: center;
  }
  .cart-shipping-note{
    align-self: center;
  }  
}
.cart-summary table{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 17px;
}
.cart-summary table tbody{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#root .checkout-cart-summary table thead tr,
#root .checkout-cart-summary table tbody tr{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.cart-summary table thead tr,
.cart-summary table tbody tr{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}
.cart-summary table input{
  width: 35px;
  height: 35px;
  text-align: center;
}
.cart-summary table .item-remove-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-summary table .button-styled{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0.8em 1em;
}
.payment-form-wrapper .cart-summary .cart-subtotal span strong{
  display: flex;
  justify-content: space-between;
}