.our-menu-wrapper{
  height: 100vh;
  background-image: url('../../../Assets/backgrounds/menu.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 3em;
  padding-bottom: 3em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}
.our-menu-heading{
  display: flex;
  flex-direction: column;
}
.our-menu-heading .our-menu-subscription{
  font-size: 18px;
}
.our-menu-cat{
  padding: 0.8em;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  height: max-content;
}
.our-menu-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  overflow-y: scroll;
  gap: 25px;
}
.our-menu-cat-nav-button{
  color: white;
  border: 0px solid black;
  font-family: 'Allura';
  font-size: 30px;
  font-weight: bolder;
  width: max-content;
  padding: 0.7em;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-menu-cat-content{
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.our-menu-cat-content button{
  border: 0px solid transparent;
  border-radius: 8px;
  background-color: #5d1917;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Allura';
  padding: 0.5em 1em;
  margin-top: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}