.our-menu-wrapper{
  height: max-content;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
}
.menu-background-img{
  height: 100vh;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 1;
}
#our-menu{
  position: relative;
  z-index: 2;
}
.our-menu-heading .our-menu-subscription{
  font-size: 24px;
}
.our-menu-cat .exit-our-menu{
  font-family: 'Courgette';
  display: flex;
  justify-content: center;
  padding: 1.5em;
  font-size: 27px;
}
.our-menu-cat{
  padding: 0.8em;
  border-radius: 8px;
  background-color: rgba(27,7,7,0.95);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  height: max-content;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1em;
}
.our-menu-content {
  max-height: 100vh;
  display: flex;
  padding: 1em;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
  position: relative;
  overflow-y: scroll;
  padding-bottom: 25em;
}
/* WebKit (Chrome, Safari) custom scrollbar styling */
.our-menu-wrapper::-webkit-scrollbar,
.our-menu-content::-webkit-scrollbar{
  width: 0px; /* Adjust the width as needed */
}

.our-menu-wrapper::-webkit-scrollbar-thumb,
.our-menu-content::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb transparent */
}

/* Firefox custom scrollbar styling */
.our-menu-wrapper::-moz-scrollbar,
.our-menu-content::-moz-scrollbar {
  width: 0px; /* Adjust the width as needed */
}

.our-menu-wrapper::-moz-scrollbar-thumb,
.our-menu-content::-moz-scrollbar-thumb {
  background-color: transparent; /* Make the thumb transparent */
}
.our-menu-cat-nav-button{
  color: white;
  border: 0px solid black;
  font-family: 'Allura';
  font-size: 30px;
  font-weight: bolder;
  width: max-content;
  padding: 0.7em;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-menu-cat-content{
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.our-menu-cat-content button{
  border: 0px solid transparent;
  border-radius: 8px;
  background-color: #5d1917;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Titillium Web';
  padding: 0.5em 1em;
  margin-top: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}
/* #our-menu span:nth-of-type(1){
  font-size: 24px;
} */
.our-menu-cat-nav-button span:nth-of-type(2){
  font-family: 'Courgette';
  font-size: 25px;
}