.banner{
  text-align: center;
  padding: 1.5em 1em 1.5em 1em;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5d1917;
  color: white;
  gap: 15px;
  margin-top: 1em;
  font-family: 'Titillum Web';
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}
.banner h3{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.banner h3 img{
  width: 50px;
}
.banner h3 u{
  text-underline-offset: 5px;
}
.banner img{
  width: 100%;
  border-radius: 5px;
}
.about-us{
  padding: 1em;
  font-size: 22px;
  text-align: center;
  font-family: 'Titillium Web';
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 1.5em;
  margin-top: 1em;
  background-image: url('../../Assets/backgrounds/about.jpg');
  background-size: cover;
  background-position: center;
}
.about-us p{
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  border-radius: 5px;
  padding: 1em;
}
.about-us img{
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}
.home .our-menu-heading{
  color: #5d1917;
  font-family: 'Courgette';
  font-size: 8vw;
  font-weight: bolder;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1em;
}
.home .our-menu-heading{
  color: #5d1917;
  font-family: 'Courgette';
  font-size: 8vw;
  font-weight: bolder;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1em;
  margin: 0.5em;
}
.home .store-items-heading{
  color: #5d1917;
  font-family: 'Courgette';
  font-size: 7vw;
  font-weight: bolder;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1em;
  margin: 0.5em;
}
.brendels{
  font-family: 'Allura';
  font-size: 35px;
  color: red;
  font-weight: bolder;
  padding: 0.2em;
}
.corner-buttons{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  gap: 5px;
}
.scroll-up-button,
.scroll-menu-button{
  background-color: #5d1917;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid transparent;
  z-index: 2;
  width: 45px;
  height: 45px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}
.scroll-up-button img,
.scroll-menu-button img{
  width: 100%;
}
.club-perks{
  display: flex;
  text-align: center;
  padding: 1.5em;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  background-image: url('../../Assets/backgrounds/club-perks.jpg');
  background-position: center;
}
.club-perks .club-tiers{
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: 'Titillium Web';
}
.club-perks .club-tiers div{
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 1em;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
}
.club-perks .club-tiers ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 20px;
}
.club-perks .club-tiers ul li{
  font-size: 18px;
}
.club-perks-footnotes ul{
  list-style: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.club-perks-footnotes ul li{
  padding: 1em;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
}
.gold{
  color: #FFEEAA;
}
.platinum{
  color: #DADADA;
}
.diamond{
  color: #C0E6F5;
}
.club-perks-footnotes{
  font-size: 12px;
  margin-top: 1em;
  margin-bottom: 1em;
}
.club-value{
}
.club-value strong{
  width: 100%;
}
.home-subscribe-now{
  border: 0px solid transparent;
  border-radius: 8px;
  background-color: #5d1917;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Allura';
  padding: 0.5em 1em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}