.my-orders{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.orders-container{
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 1em;
  width: 100%;
  max-width: 700px;
}
#root .orders-container h4{
  font-size: 30px;
}
.my-orders-heading{
  color: #5d1917;
  font-family: 'Courgette';
  font-size: 35px;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 0.5em;
}