.sidebar-expanded{
  height: 100vh;
  max-width: 180px;
  width: 100%;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(63,28,10,0.95);
}

.sidebar-expanded .sidebar-expand-toggle{
  display: flex;
  justify-content: center;
}
.sidebar-expanded .sidebar-expand-toggle img{
  min-width: 40px;
}

.sidebar-closed .sidebar-expand-toggle{
  border: 0px solid transparent;
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
  margin: 10px;
  background-color: rgb(93,25,23);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 6;
}

.sidebar-closed .sidebar-expand-toggle img{
  width: 50px;
  padding: 0.5em;
}
.sidebar-expanded,
.sidebar-closed{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}
/* Hide the default scrollbar for both WebKit and Firefox */
.sidebar-expanded,
.sidebar-closed {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* WebKit (Chrome, Safari) custom scrollbar styling */
.sidebar-expanded::-webkit-scrollbar,
.sidebar-closed::-webkit-scrollbar {
  width: 0px; /* Adjust the width as needed */
}

.sidebar-expanded::-webkit-scrollbar-thumb,
.sidebar-closed::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb transparent */
}

/* Firefox custom scrollbar styling */
.sidebar-expanded::-moz-scrollbar,
.sidebar-closed::-moz-scrollbar {
  width: 0px; /* Adjust the width as needed */
}

.sidebar-expanded::-moz-scrollbar-thumb,
.sidebar-closed::-moz-scrollbar-thumb {
  background-color: transparent; /* Make the thumb transparent */
}

.sidebar-nav{
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: 'Allura';
  font-weight: bold;
  width: 80%;
  gap: 15px;
  margin: 20px;
}
.sidebar-nav button{
  border: 0px solid transparent;
  border-radius: 8px;
  background-color: #5d1917;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Allura';
  padding: 0.5em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
}
.sidebar-nav button span{
  flex-grow: 1;
}
.sidebar-nav li{
  display: flex;
  justify-content: center;
}
.sidebar-nav .checkout button:hover{
  background-color: rgb(194, 3, 3);
}
.sidebar-nav .cart{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.sidebar-nav .checkout button{
  border: 0px solid transparent;
  border-radius: 8px;
  background-color: #5d1917;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Allura';
  padding: 0.5em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}
.sidebar-nav img{
  width: 30px;
}

.sidebar-nav span{
  margin-top: 5px;
}