.login-wrapper{
  display: flex;
  justify-content: center;
  padding: 1.5em;
  background-image: url('../../Assets/backgrounds/login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  align-items: center;
}
.login{
  font-family: 'Titillium Web';
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: max-content;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 8px;
  padding: 1em;
  padding-top: 3em;
  padding-bottom: 3em;
}
.login h3{
  font-size: 35px;
  font-family: 'Allura';
  text-align: center;
  color: white;
  font-weight: bolder;
}
.login div{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
.login div label{
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (width<550px){
  .login div{
    flex-direction: column;
    align-self: center;
  }
  .login div input{
    max-width: 100%;
  }
}
.login div input{
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 20px;
  min-height: 50px;
}
.login ol{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.login ol li button{
  border: 0px solid transparent;
  border-radius: 8px;
  background-color: #5d1917;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Allura';
  padding: 0.5em 1em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}
.login-error-message{
  color: red;
  text-align: center;
  padding: 0.5em;
  font-size: 20px;
}