.nav{
  text-align: center;
  padding: 1em;
  background-color: rgb(255, 240, 202);
}

.nav button{
  color: red;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Allura';
  border: 0px solid transparent;
  background-color: transparent;
}