.nav{
  text-align: center;
}
.nav-content{
  height: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
}
.nav a{
  color: #5d1917;
  font-weight: 400;
  font-family: 'Courgette';
  border: 0px solid transparent;
  background-color: transparent;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
  font-weight: bold;
  z-index: 3;
  position: relative;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

@media screen and (width<=768px){
  .nav a h1,
  .nav a h2{
    font-size: 33px;
  };
}

@media screen and (width>768px) {
  .nav a h1,
  .nav a h2{
    font-size: 60px;
  }
}
.nav-background {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: contain;
}